*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
.DS_Store
AndroidAppDeployer/.project
AndroidAppDeployer/.classpath
AndroidAppDeployer/.settings/
AndroidAppDeployer/local.properties
AndroidAppDeployer/lint.xml
AndroidAppDeployer/bin/**
AndroidAppDeployer/gen/**
AndroidAppDeployer/tmp/**
AndroidAppDeployer/proguard/**
AndroidGooglePlayServices/.project
AndroidGooglePlayServices/.classpath
AndroidGooglePlayServices/.settings/
AndroidGooglePlayServices/local.properties
AndroidGooglePlayServices/lint.xml
AndroidGooglePlayServices/bin/**
AndroidGooglePlayServices/gen/**
AndroidGooglePlayServices/tmp/**
AndroidGooglePlayServices/proguard/**
